- name: Configure firwall https/http access 
  firewalld:
    service: "{{ item }}"
    permanent: yes
    immediate: yes
    state: enabled
  with_items: 
  - http
  - https
  notify: 
  - Restart the firewalld service

- name: force all notified handlers to run at this point, not waiting for normal sync points
  meta: flush_handlers
 
